<div class="card">
    <div class="card-header">
        <h4><%= board.person_name %></h4>
        <% board.tags.each do |tag| %>
            <span class="badge badge-primary"><%= tag.namen %></span>
        <% end %>
    </div>
    <div class="card-body">
        <p class="card-text"><%= simple_format(board.body) %></p>
        <p class="text-right form-weight-bold mr-10"><%= board.person_name %></p>
    </div>
</div>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-lang="ja" data-text="WinWinWork アルバイトのクチコミです！" data-hashtags="WinWinWork" data-show-count="false"></a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
