<div class="card">
    <div class="card-header">
        <h4><%= board.person_name %></h4>
    </div>
    <div class="card-body">
        <p class="card-text"><%= simple_format(board.body) %></p>
        <p class="text-right form-weight-bold mr-10"><%= board.person_name %></p>
    </div>
</div>
